body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #1a73e8;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}
.radi{
    width: 10%;
    padding: 0%;
    margin-top: 5px;
}
button {
    background-color: #1a73e8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #155ab6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}
